<template>
  <ul class="panel">
    <li v-for="lang in langs">
      <button @click="setLocale(lang.code)">{{ lang.name }}</button>
    </li>
  </ul>
</template>

<script>
import {langs, setLocale} from '@/translations'

export default {
  data () {
    return {
      langs
    }
  },
  methods: {
    setLocale (locale) {
      this.$audio.play('click')
      setLocale(locale)
    }
  }
}
</script>

<style scoped lang="scss">
</style>
