<template>
  <div class="panel">
    <h2>{{ $t('Player Name') }}</h2>
    <input ref="input"
           type="text"
           :placeholder="$t('choose a name')"
           v-model="name"
           @keyup.enter="sendName">
    <button @click="sendName">ok</button>
  </div>
</template>

<script>
export default {
  props: ['currentName'],
  data () {
    return {
      name: this.currentName ? this.currentName : ''
    }
  },
  methods: {
    sendName () {
      this.$socket.emit('set_player_name', this.name)
      this.$audio.play('click')
    }
  },
  mounted () {
    this.$refs.input.focus()
  }
}
</script>

<style scoped>
</style>
