<template>
  <div>
    <h2>{{ $t('rooms') }}</h2>

    <transition name="fade" mode="out-in">

      <!-- Room list -->
      <p v-if="!rooms">{{ $t('loading_') }}</p>
      <div v-else-if="rooms.length">
        <p>{{ $t('click_room_enter') }}</p>
        <table>
          <thead>
            <tr>
              <th>{{ $t('name') }}</th>
              <th>{{ $t('level') }}</th>
              <th>{{ $t('duration') }}</th>
              <th>{{ $t('players') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="room of rooms"
                class="room-row"
                @click="enterRoom({name: 'GameRoom', params: { name: room.name }})">
              <td>
                <router-link :to="{name: 'GameRoom', params: { name: room.name }}">
                  {{ room.name }}
                </router-link>
              </td>
              <td>{{ room.level }}</td>
              <td>{{ minuteDiff(room.creation) }}min</td>
              <td>
                <span v-for="player in room.players" class="player-name">
                  {{ player }}
                </span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <!-- No room active -->
      <div v-else>
        <p>{{ $t('no_room') }}</p>
      </div>
    </transition>

    <!-- Create new room -->
    <div class="panel">
      <h3>{{ $t('create_new') }}</h3>
      <input ref="input"
             type="text"
             v-model="roomName"
             :placeholder="$t('room name')"
             @keyup.enter="createRoom">
      <button @click="createRoom">{{ $t('create') }}</button>
    </div>

    <!-- Status -->
    <div v-if="rooms" class="panel status-panel">
      <h3>{{ $t('status') }}</h3>
      <span>{{ $t('players') }}: {{ numPlayers }}</span>
      -
      <span>{{ $t('rooms') }}: {{ rooms.length }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      roomName: '',
      numPlayers: 0,
      rooms: undefined
    }
  },
  methods: {
    createRoom () {
      this.$socket.emit('validate_room_name', this.roomName)
      this.$audio.play('click')
    },
    enterRoom (to) {
      this.$router.push(to)
    },
    minuteDiff (date) {
      var diff = Math.floor((new Date() - new Date(date)) / 60000)
      return diff > 0 ? diff : 0
    }
  },
  socket: {
    emit: {event: 'join_rooms_list'},
    events: {
      'update_rooms_list': function (data) {
        this.rooms = data.rooms
        this.numPlayers = data.num_players
      },
      'room_name_validated': function (data) {
        this.$router.push({name: 'GameRoom', params: { name: data }})
      }
    },
    beforeRouteLeave (to, from, next) {
      this.$socket.emit('leave_rooms_list')
      next()
    }
  }
}
</script>

<style scoped lang="scss">
@import '../css/vars.scss';
.status-panel {
    font-size: 12px;
    color: #939393;
    line-height: .5rem;
}
.player-name {
    margin: .1rem;
}
.room-row {
    cursor: pointer;
    background-color: lighten($page-background-color, 2%);
    transition: all 0.5s;
    &:hover, &:focus {
        background-color: darken($page-background-color, 2%);
    }
}
</style>
